@using NewDB.Models
@{
    //Layout = null;
    ViewBag.Title = "Работа с БД";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список компаний</title>
    <style>
        h3 {
            color: red;
            text-align: center;
        }

        table.first {
            margin: auto;
        }

        table.second {
            margin: auto;
            background: coral;
        }

        table.third {
            margin: auto;
            margin-top: 20px;
            background: goldenrod;
        }
    </style>
</head>
<body>
    <div>
        <h3>Список компаний</h3>
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
        {
            <table border="1" class="first">
                <tr>
                    <td><p></p> </td>
                    <td>
                        <p>Название</p>
                    </td>
                    <td>
                        <p>E-mail</p>
                    </td>
                    <td>
                        <p>Телефон</p>
                    </td>
                    <td>
                        <p>Сайт</p>
                    </td>
                    <td>
                        <p>Отрасль</p>
                    </td>
                </tr>
                @{CompanyContext dbContext = new CompanyContext();
                    var query = from t1 in dbContext.companies
                        join t2 in dbContext.contacts on t1.CompanyId equals t2.CompanyId
                        select new {t1.Name, t2.email, t2.phone, t2.site, t1.industry,t1.CompanyId};


                    foreach (var b in query)
                        {
                        <tr>
                            <td>
                                <p>
                                    <input type="radio" value="@b.CompanyId" name="id" />
                                </p>
                            </td>
                            <td class="centerline">
                                <p>@b.Name</p>
                            </td>
                            <td class="centerline">
                                <p>@b.email</p>
                            </td>
                            <td class="centerline">
                                <p>@b.phone</p>
                            </td>
                            <td class="centerline">
                                <p>@b.site</p>
                            </td>
                            <td class="centerline">
                                <p>@b.industry</p>
                            </td>
                        </tr>
                    }
                }
            </table>
            <hr>
                    <table class="second">
                        <tr>
                            <td>
                                Имя:
                            </td>
                            <td><input type="text" name="name" /></td>
                        </tr>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td><input type="text" name="email" /></td>
                        </tr>
                        <tr>
                            <td>
                                Телефон:
                            </td>
                            <td><input type="text" name="phone" /></td>
                        </tr>
                        <tr>
                            <td>Сайт:</td>
                            <td>
                                <input type="text" name="site" />
                            </td>
                        </tr>
                        <tr>
                            <td>Отрасль:</td>
                            <td>
                                <select name="industry" required="">
                                    <option>
                                        Связь
                                    </option>
                                    <option>
                                        Перевозки
                                    </option>
                                    <option>
                                        Коммерция
                                    </option>
                                    <option>
                                        Развлечение
                                    </option>
                                    <option>
                                        Строительство
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <table class="third">
                        <tr>
                            <td><button name="action" , value="add">Добавить</button></td>
                            <td><button name="action" , value="remove">Удалить</button></td>
                            <td><button name="action" , value="update">Обновить</button></td>
                        </tr>
                    </table>
                    }
    </div>
</body>
</html>